@font-face {
	font-family: TitilliumText600wt;
	src: url("../image/font/TitilliumText600wt.otf") format("opentype");
}
@font-face {
	font-family: TitilliumText800wt;
	src: url("../image/font/TitilliumText800wt.otf") format("opentype");
}